.body {
    text-align: center;
    display: flex;
    width: 90vw;
    height: 300px;
    margin-top: 100px;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}