html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navbar {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 15px;
  display: flex;
}

.indexContainer {
  margin-top: 40px;
  margin-left: 100px;
}

.logOutBtn {
  margin-left: 600px;
}

.survey {
  color: rgb(92, 91, 91);
  margin-top: 30px;
  margin-left: 50px;
  font-size: 1.5rem;
}

.dashboardMain {
  color: rgb(92, 91, 91);
  margin-top: 30px;
  margin-left: 100px;
  font-size: 1.5rem;
}

.surveyBtn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 15px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}

.surveyBtn:disabled {
  pointer-events: none;
}

.surveyBtn:hover {
  color: rgb(255, 255, 255);
  background-color: #5a5a5a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.surveyBtn:active {
  box-shadow: none;
  transform: translateY(0);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
