.body {
  margin-top: 40px;
  text-align: center;
  width: 100%;
}


.homeTitle {
  font-size: 45px;
  margin-bottom: 100px;
  margin-top: 80px;
  text-align: center;
}

.heroBanner {
  position: fixed;
  z-index: -1;
}

.bannerTitle {
  font-size: 5vw;
  font-size: 6vmin;
}
.bannerSubtext {
  font-size: 1.5vw;
  font-size: 2vmin;
}

.homeBodyTitle {
  margin-top: 150px;
}

.buttons {
  
}