.navbar {
    background-color: #f8f8f8;
    margin: 0;
    z-index: 1;
    font-size: 2rem;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    padding-right: 0;
    
}

.container {
    display: flex;
}
